* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button,
a {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: inherit;
}

body {
  background-color: #efefef;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
